node_modules
dist
build
.next
out
coverage
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
.env
.env.*
*.log
*.min.js
*.min.css
.cache
.parcel-cache
.turbo
.vite
.vercel
*.d.ts
.DS_Store
Thumbs.db
.vscode
.idea
tmp
temp
playwright-report
test-results